* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
  font-size: 16px;
  margin: 0;
}

.header {
  background-color: rgba(22, 34, 57, 0.95);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
}

.logo {
  color: rgb(245, 164, 37);
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 60px;


}

.logo em {
  font-style: normal;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: auto;
  align-items: center;
  text-align: center;
  padding-right: 50px;
}

.menu {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  padding: 13px 20px;
  margin: 0 10px;
  font-size: 14px;

}

.menu i {
  font-size: 12px;
  padding-left: 5px;
}

.active {
  color: 2px solid rgb(245, 164, 37);

}

.menu:hover {
  border: 2px solid rgb(245, 164, 37);

}

.menu-dropdown {
  display: none;
}

#checkbtn {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 10px;
}

#check {
  display: none;
}

#close-icon {
  display: none;
  font-size: 40px;
  color: #fff;
}

#menu-icon {
  display: none;
  font-size: 40px;
  color: #fff;
}

@media(max-width:1000px) {
  #menu-icon {
    display: block
  }

  #close-icon {
    display: none;
  }


  .navbar {
    position: absolute;
    top: 80px;
    flex-direction: column;
    margin: 0;
    width: 100%;
    background-color: rgba(22, 34, 57, 0.95);
    padding: 0;
    height: 0;
    overflow: hidden;


  }

  #check:checked~#checkbtn #menu-icon {
    display: block;
  }

  #check:checked~#checkbtn #close-icon {
    display: none;

  }

  #check:checked~.navbar {
    height: 250px;
  }

  li {
    width: 100%;
  }

  .menu {
    width: 100%;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.5;
    padding: 15px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.25);
    margin: 0;


  }

  .menu:hover {
    color: #f5a425;
    border: 2px solid transparent;
  }

  .active {
    color: #f5a425;
  }

  .logo {
    padding-left: 20px;
  }

}

/* main-banner */
.main-banner {

  padding-top: 80px;
  height: 100%;
  width: 100%;
  z-index: 999;
  position: relative;

}

.bg {
  background-color: rgba(22, 34, 57, 0.85);
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.image-overlay {
  height: 100%;
}

.bg-image {
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;

}

.text-heading-1 {
  color: #fff;
  font-size: 18px;
  margin-top: 0;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text-heading-2 {
  font-size: 64px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 30px 0;
}

.text-heading-2 strong {
  color: #f5a425;
}

.discover {
  background-color: #f5a425;
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-weight: 700px;
  letter-spacing: 0.5px;
  font-size: 13px;
}

.pencil-icon {
  margin-right: 15px;
  font-size: 24px;
}

.card-text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.card-hide-1 {
  display: none;
  transition: all ease 0.5s;
}

.card-hide-2 {
  display: none;
  transition: all ease 0.5s;
}

.card-hide-3 {
  display: none;
  transition: all ease 0.5s;
}

@media (max-width:1000px) {
  .text-heading-2 {
    font-size: 50px;
  }
}

@media (max-width:762px) {

  .text-heading-2 {
    font-size: 36px;
  }

  .text-heading-1 {
    font-weight: 500;
  }
}

/* card 1 */
.card-1 {
  background-color: #0c1228;
  color: #fff;
  padding: 40px;
  width: 300px;
}

.card-1:hover .card-hide-1 {
  display: block;
}

.card-1:hover {
  background-color: #f5a425;
  padding: 10px 40px;
}

/* card-2 */
.card-2 {
  background-color: #0c1228;
  color: #fff;
  padding: 40px;
  width: 300px;
}

.card-2:hover .card-hide-2 {
  display: block;
}

.card-2:hover {
  background-color: #f5a425;
  padding: 10px 40px;
}

/* card-3 */
.card-3 {
  background-color: #0c1228;
  color: #fff;
  padding: 40px;
  width: 300px;
}

.card-3:hover .card-hide-3 {
  display: block;
}

.card-3:hover {
  background-color: #f5a425;
  padding: 10px 40px;
}

.d-grid {
  display: flex;
  position: absolute;
  bottom: 5px;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;


}

.info-container {
  display: flex;
  column-gap: 30px;


}

.card-hide p {
  font-size: 13px;

}


.btn {
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
  display: inline-block;
}

@media(max-width:992px) {
  .d-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card-1 {
    width: 100%;
  }

  .card-2 {
    width: 100%;
  }

  .card-3 {
    width: 100%;
  }
}

/* section why us */
.why-us {
  background-image: url("https://templatemo.com/templates/templatemo_557_grad_school/assets/images/choosing-bg.jpg");
  background-color: #172238;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

.why-us-text {
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
}

.why-us-heading {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  border: 2px solid rgba(250, 250, 250, 0.1);
  display: inline-block;
}

li {
  list-style: none;
}

.tabs {
  text-align: center;
}

.taglist {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}

.tag {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #fff;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tab-icon {
  padding-top: 20px;
  font-size: 10px;
  color: #fff;
}

.tab-icon-active {
  font-size: 20px;
  color: #f5a425;
  padding-top: 10px;
}

.tabs-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-content-image {
  max-width: 500px;
  padding: 0;
  15px
}

.tabs-content-image img {
  padding-right: 45px;
  width: 100%;
}

.tabs-content-text {
  max-width: 500px;
  text-align: left;
  padding: 0 15px;
}

.tabs-content-text-heading {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}

.tabs-content-text-para {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
}

/* coming soon */
.coming-soon {
  background-image: url("https://templatemo.com/templates/templatemo_557_grad_school/assets/images/coming-soon-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.coming-soon img {
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  max-width: 530px;
  padding: 0 15px;
}

.left-heading {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.5px;
  padding-bottom: 50px;
  margin-top: 0;
}

.left-heading em {
  color: #f5a425;
  font-style: normal;
}

.timer {
  display: flex;
  column-gap: 20px;
}

.days {
  height: 130px;
  background-color: rgba(250, 250, 250, 0.1);
  color: #fff;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 800;
  width: 22%;
}

.hours {
  height: 130px;
  background-color: rgba(250, 250, 250, 0.1);
  color: #fff;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 800;
  width: 22%;
}

.minutes {
  height: 130px;
  background-color: rgba(250, 250, 250, 0.1);
  color: #fff;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 800;
  width: 22%;
}

.seconds {
  height: 130px;
  background-color: rgba(250, 250, 250, 0.1);
  color: #fff;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 800;
  width: 22%;
}

.value {
  margin-top: 15px;
  width: 100%;
  display: block;

}

span {
  font-size: 18px;
  color: #f5a425;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0;
  display: block;
}

.right-content {
  max-width: 330px;
  margin-left: 30px;
}

.top-right-para {
  font-size: 13px;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.2);
  text-align: center;
  padding: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

.form {
  background-color: rgba(250, 250, 250, 0.1);
  padding: 60px 40px;
  width: 100%;
  text-align: center;
}

.form-control {
  background-color: rgba(250, 250, 250, 0.1);
  margin-bottom: 20px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  width: 100%;
  border: none;
  height: 40px;
  padding: 6px 12px;
}

.form-control:focus-visible {
  border: none;
  outline: none;
}

.btn {
  background-color: #f5a425;
  text-transform: uppercase;
  color: #fff;
  border: none;
  margin-top: 10px;
  font-size: 13px;
  padding: 12px 20px;
  letter-spacing: 0.5px;
  font-weight: 800;
}

/* courses section */
.courses {
  background-image: url("https://templatemo.com/templates/templatemo_557_grad_school/assets/images/choosing-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}

.courses-text {
  padding-bottom: 70px;
}

.courses-heading {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  border: 2px solid rgba(250, 250, 250, 0.1);
  display: inline-block;
}

.carousel-card {
  max-width: 230px;
  overflow: hidden;
}

.main-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


}

.card-down-content{
  padding: 30px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.down-content-heading{
  font-size: 16px;
  text-transform: uppercase;
  color:  #1e1e1e;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}
.down-content-para{
  font-size: 13px;
  text-align: left;
  line-height: 22px;
  margin-bottom: 25px;
}
.author-img{
  text-align: left;
  border: 2px solid #f5a425;
  border-radius: 50%;
  display:inline-block ;
}
.text-button-free{
  float:right;
  display: inline-block;
}
.text-button-text{
  color: #7a7a7a;
  font-size: 13px;
  margin: 10px 0;
}