* {
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  color: black;
  background-color: white;
  font-size: 16px;
}

.header {
  background-color: rgba(22, 34, 57, 0.95);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
  display: flex;
}

.logo {
  color: rgb(245, 164, 37);

  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 60px;


}

.logo em {
  font-style: normal;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: auto;
  align-items: center;
  text-align: center;
  padding-right: 50px;
}

.menu {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  padding: 13px 20px;
  margin: 0 10px;
  font-size: 14px;

}

.menu i {
  font-size: 12px;
  padding-left: 5px;
}

.active {
  border: 2px solid rgb(245, 164, 37);

}

.menu:hover {
  border: 2px solid rgb(245, 164, 37);

}

.menu-dropdown {
  display: none;
}

/* main-banner */
.main-banner {

  padding-top: 80px;
  height: 100%;
  width: 100%;
  z-index: 1000;

}

.bg-image {
  width: 100%;
  height:600px;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}

.text-heading-1 {
  color: #fff;
  font-size: 18px;
  margin-top: 0;
  letter-spacing: 1px;
  font-weight: 600;
}

.text-heading-2 {
  font-size: 64px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 30px 0;
}

.text-heading-2 strong {
  color: #f5a425;
}
.discover{
  background-color: #f5a425;
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-weight: 700px;
  letter-spacing: 0.5px;
  font-size: 13px;
}
.card{
  /* position: absolute; */
  bottom: 0;
  background-color:  rgba(22, 34, 57, 0.95);
  color: #fff;
  padding: 40px;
  width: 300px;
}
.pencil-icon{
  margin-right: 15px;
  font-size: 24px;
}
.card-text{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.card-hide{
  display: none;
  transition: all ease 0.5s;
}
.card:hover .card-hide{
  display: block;

}
.card:hover{
  background-color: #f5a425;
  padding: 10px 40px;
}
.d-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* position: absolute; */
}
.card-hide p{
  font-size: 13px;

}
.btn{
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
  display:inline-block;
}
.card-2{
  background-color:  rgba(22, 34, 57, 0.95);
  color: #fff;
  padding: 40px;
  width: 300px;
}
